<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="mrwatts-private-package-registry" value="https://gitlab.com/api/v4/projects/27157125/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <mrwatts-private-package-registry>
            <add key="Username" value="%PRIVATE_PACKAGE_REGISTRY_USERNAME%" />
            <add key="ClearTextPassword" value="%PRIVATE_PACKAGE_REGISTRY_PASSWORD%" />
        </mrwatts-private-package-registry>
    </packageSourceCredentials>
</configuration>